.footer {
    max-width: 880px;
    margin: 0 auto 0 auto;
    padding-bottom: 60px;
}

@media screen and (max-width: 929px) {
    .footer {
        max-width: 580px;
    }
}

@media screen and (max-width: 645px) {
    .footer {
        margin-top: 48px;
        padding-bottom: 36px;
        max-width: 282px;
    }
}