.popup__escape-button {
    width: 32px;
    height: 32px;
    border: 0;
    position: absolute;
    top: -40px;
    right: -40px;
    background: url(../../../images/btnsAndicons/close.svg) no-repeat;
    background-size: cover;
    transition: opacity .5s;
}

.popup__escape-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .popup__close {
        width: 20px;
        height: 20px;
        right: 0;
        top: -30px;
    }
}