.profile__add-button {
  margin: 0 0 0 auto;
  padding: 0;
  width: 150px;
  min-height: 50px;
  border: 2px solid #FFF;
  border-radius: 2px;
  background: transparent url(../../../images/btnsAndicons/addbtn.svg) center no-repeat;
  transition: opacity .5s;
  align-self: center;
}

.profile__add-button:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 644px) {
  .profile__add-button {
    min-width: 282px;
    margin-top: 36px;
  }
}