.header {
    margin: 0 auto 40px auto;
    padding-top: 45px;
    padding-bottom: 41px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 880px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    box-sizing: border-box;
}

@media screen and (max-width: 929px) {
    .header {
        max-width: 600px;
    }
}

@media screen and (max-width: 644px) {
    .header {
        padding-top: 28px;
        padding-bottom: 42px;
        min-width: 100%;
    }
}